@import "Styles.css";

.call-to-action {
  width: 440px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}

.call-to-action h1 {
  color: var(--dark-blue);
  text-align: left;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: var(--heading-1);
}

.call-to-action p {
  color: var(--dark-blue);
  text-align: left;
  font-weight: 400;
  margin-bottom: 55px;
  font-size: var(--subheading-1);
}

@media screen and (max-width: 1111px){
  .call-to-action {
    display: flex;
    /*align-items: center;*/
    max-width: 100%;
    margin-left: 0;
    /*transform: scale(86%);*/
    padding-left: 10%;
  }

  .call-to-action h1 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: var(--heading-1-responsive);
  }

  .cta-text {
    padding: 0;
    max-width: 85%;
  }

  .call-to-action p {
    line-height: 1.8rem;
    margin-bottom: 30px;
    font-size: var(--subheading-1-responsive);
  }

}

@media screen and (max-width: 800px){

  .call-to-action {
    align-items: center;
    padding: 0;
  }

  .cta-text {
    max-width: 65%;
  }

}


