@import "Styles.css";

button.btn-filled {
  border: 3px solid #023E8A;
  padding: 0.9em 1.8em;
  background: #023E8A;
}

button.btn-filled a {
  text-decoration: none;
  color: #ffffff;
  font-size: var(--button);
  font-weight: 500;
  letter-spacing: 1px;
}

@media screen and (max-width: 900px) {
  
  button.btn-filled {
    padding: 0.8em 1.5em;
  }
  
  button.btn-filled a {
    text-decoration: none;
    color: #ffffff;
    font-size: var(--button-responsive);
    font-weight: 500;
    letter-spacing: 1px;
  }  

}
