button.btn-filled {
  border: 3px solid #023E8A;
  padding: 1.3em 2.5em;
  background: #023E8A;
}

button.btn-filled a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}

@media screen and (max-device-width: 800px){

  button.btn-filled {
    border-radius: 5px;
    padding: .4em 1.3em;
  }

  button.btn-filled a {
    font-weight: 500;
    font-size: 0.8rem;
  }

}

@media screen and (max-device-width: 640px){
  button.btn-filled {
    border-radius: 5px;
    padding: .8em 1.8em;
  }

  button.btn-filled a {
    font-weight: 500;
    font-size: 1rem;
  }

}