@import "../SharedAssets/Styles.css";

.footer-container h3 {
    margin-top: 10px;
    font-size: var(--footer-header-desktop); /* 1.1em */
    font-weight: var(--custom-bold);;
    color: var(--dark-green);
}

.footer-container p {
    font-size: var(--footer-body-desktop); /* 1em */
    font-weight: var(--custom-medium);;
    color: var(--dark-green);
    opacity: 40%;
}

.footer-container {
    padding: 1.3em;
    height: 100%;
    background-color: var(--light-green);
}

.socialmedia-parent {
    margin-top: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmedia-parent > a {
    margin: auto 0.50em;  
}

.socialmedia-child img {
    min-width: 10px;
    margin-bottom: 16px;
    height: auto;
    width: 80%;
    /*background-color: aqua;*/
}

.socialmedia-child:nth-child(2), 
.socialmedia-child:nth-child(3), 
.socialmedia-child:nth-child(4) {
    margin-top: 2px;
}

@media screen and (max-width: 380px) {
    .footer-container h3 {
        font-size: var(--footer-header-mobile); /* 0.9 em */
    }
    .socialmedia-parent {
        margin-top: 0.4em;
        transform: scale(70%);
    }
    .socialmedia-child img {
        min-width: 20px;
        margin-bottom: 12px;
    }
    .footer-container p {
        font-size: var(--footer-body-mobile); /* 0.8 em */
    }
}
