* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  text-decoration: none;
  color:#023E8A;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.nav-bar img {
  width: 100px;
  height: 20px;
  margin-left: 30px;
} 

.nav-bar {
  display: flex;
  justify-content: space-around;
  /*min-height: 10vh;*/
  align-items: center;
  list-style-type: none;
  font-family: 'Poppins';
  display: flex;
  justify-content: space-around;
  height: 70px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.116);  
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  margin-right: 200px;
}

nav .nav-links {
  display: flex;
  margin-top: 1rem;
  justify-content:space-around;
  width: 60%;
  list-style: none;
  font-weight: 800;
  margin-left: 70px;
}

nav .nav-links a {
  /*margin-left: 1em;*/
  text-decoration: none;
  color:#023E8A;
}

.burger {
  display: none;
  cursor: pointer;
}

/* Desktop Specific CSS should be placed here */
/*
@media only screen and (max-width: 1000px) {
  .nav-links{
    width: 65%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-bar img {
    margin-right: 30px;
  } 
}
*/


/* Mobile Phone Specific CSS should be placed here */
@media screen and (max-width: 640px){

  .burger {
    width: 400px;
    display: block;
  }

  .logo {
    margin-right: 50px;
  }

  nav .nav-links {
    position: absolute;
    display: block;
    margin-top: 4px;
    top: 70px;
    right: 0;
    height: min-content;
    background-color: #ffffff;
    padding: 20px;
    width: 40%;
    /*width: 100%;*/
    transform: translateY(-500px);
    /*transition: 0.5s ease-in-out;*/
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);  
  }

  nav .logo {
    margin-right: 200px;
    /*background-color: aliceblue;*/
  }

  nav .burger {
    margin-left: 200px;
    /*background-color: rgb(129, 85, 27);*/
  }

  nav .nav-links li:first-of-type {
    margin-top: -15px;
  }

  nav .nav-links li {
    text-align: right;
    padding: 15px 20px 15px 15px;
    border-bottom: 2px solid #023d8a10;
    font-weight: 800;
    font-size: 18px;
    /*margin-left: 40px;*/
  }

  nav .nav-links li:last-of-type {
    margin-bottom: -15px;
    border-bottom: 0px solid #023d8a10;
  }

}