:root {

    --wwdb-line-height-desktop: 40px;
    --h2-line-height: 60px;
    --p-line-height-desktop: 35px;
    --p-line-height-mobile: 28px;

    /* ------ colors ------ */

    --light-gray: #F5F5F5;
    --dark-gray: #9d9d9d;

    --white: #ffffff;

    --light-green: #DCECE3;
    --dark-green: #44746C;

    --navy-blue: #2E404B;
    --dark-blue: #406DA6;

    /* ------ fonts ------ */

    --custom-bold: 600;
    --custom-medium: 400;

    --nav: 16px;
    --button: 18px;
    --email-input: 16px;

    /* welcome banner */
    --upper-heading: 22px;
    --lower-heading: 48px;

    /* e.g. "Join a project team" on home page */
    --heading-one-desktop: 32px;    /* title */
    --body-one-desktop: 20px;       /* paragraph description */
    --heading-one-mobile: 27px; 
    --body-one-mobile: 18px; 

    --officer-name: 22px;
    --officer-position: 16px;
    --officer-email: 16px;

    --footer-header-desktop: 16.5px;
    --footer-body-desktop: 16px;
    --footer-header-mobile: 13.5px;
    --footer-body-mobile: 13px;

}
