@import "../SharedAssets/Styles.css";

#mc_embed_signup{
    background:white;
    clear: center;
}
.mc-email{
    position: relative;
    font-size: var(--email-input); 
    display: block; 
    padding: .4rem;
    /*margin:0 4% 10px 0; */
    height: 3rem;
    min-height: 32px;
    min-width: 620px; 
    margin-left: -30px;
    margin-bottom: 15px;
    /*
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    */
}

#mc_embed_signup button {
    border: 1px solid var(--navy-blue);
    -webkit-appearance: none;
}

.mc-button{
    position: absolute;
    border: 3px solid;
    padding: 15px 22px; /* 0.6rem 1.5rem */
    background: var(--navy-blue);
    color: white;
    text-align: center;
    font-size: var(--button);
    align-self: center;
    margin-left: 10.5rem;
}

@media screen and (max-width: 860px){

    .mc-button {
        padding: 12px 20px; /* .3em 1.2em */
    }

}

@media screen and (max-width: 640px){
    .mc-email{
        width: 90%; 
        min-width: 450px; 
        margin-left: 0.5rem;
    }
    .mc-button{
        margin-left: 8rem;
    }
}

@media screen and (max-width: 570px){
    .mc-email{
        min-width: 300px; 
        margin-left: 2%;
    }
    .mc-button{
        margin-left: 20%;
    }
}

@media screen and (max-width: 480px){

    .mc-button{
        margin-left: 17%;
    }
}

@media screen and (max-width: 380px){
    .mc-email{
        margin-left: -3%;
    }
    .mc-button{
        margin-left: 10%;
    }
}

@media screen and (max-width: 330px){
    .mc-email{
        margin-left: -9%;
    }
    .mc-button{
        margin-left: 5%;
    }
}

/* 
 @media screen and (min-width: 641px){
    .mc-email {
        width:38rem; 
    }
    .mc-button{
        margin-top: 1.8rem;
        margin-left: 10rem;
    }
}
*/
