button.btn-unfill {
  border: 3px solid #023E8A;
  padding: 1.3em 2.5em;
  background: transparent;
}

button.btn-unfill a {
  text-decoration: none;
  color: #023E8A;
  font-size: 25px;
}

@media screen and (max-device-width: 640px){
  button.btn-unfill {
    border-radius: 5px;
    padding: .8em 1.8em;
  }

  button.btn-unfill a {
    font-weight: var(--custom-medium);;
    font-size: 1.2rem;
  }
}