@import "../SharedAssets/Styles.css";

.pb-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--light-green);
  z-index: 10;
  /* background-color: aqua; */
  margin-top: -3rem;
}

.project-banner {
  margin-bottom: 120px;
}

.pb-container-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 20;
}

.all-text { 
  background-color: none;
}

.applications {
  font-size: var(--body-one-desktop);
  font-weight: var(--custom-bold);;
  text-align: left;
}

.pb-container-right {
  display: flex;
  /* background-color: aqua; */
}

.pb-container-right img {
  max-width: 500px;
  z-index: 2;
}

.light-blue-dots svg {
  opacity: 60%;
}

.light-blue-dots svg ellipse {
  z-index: 100;
  /* background-color: aqua; */
}

.pb-top .light-blue-dots {
  /* width: 100%; */
  background-color: var(--light-green);
  z-index: -100;
}

.pb-bottom .light-blue-dots {
  /* width: 25%; */
  display: flex;
  justify-content: flex-start;
  z-index: -100;
  padding-top: 1.4rem;
}

.pb-top .light-blue-dots svg {
  margin-top: 2rem;
  margin-left: 56rem;
  overflow: hidden;
  /* margin-left: 20rem; */
}

.pb-bottom .light-blue-dots svg {
  z-index: 100;
  margin-top: -13rem;
  margin-left: 14rem;
}

.pb-container-left .featured-project {
  text-align: left;
  color: var(--dark-green);
  font-size: var(--body-one-desktop);
}

.pb-bottom .waves {
  overflow: visible !important;
  padding-top: -2rem;
  /* margin-top: 0; */
  position: relative;
  z-index: -1;
}

.pb-top .light-blue-dots {
  overflow: hidden;
}

@media screen and (max-width: 1700px) {

  .pb-container-left, .pb-container-right, 
  .light-blue-dots svg {
    transform: scale(0.9);
  }

}

@media screen and (max-width: 1580px) {
  .pb-bottom .light-blue-dots svg {
    margin-left: 10rem;
    margin-top: -13rem;
  }

  .pb-container {
    margin-top: -5rem;
  }

}

@media screen and (max-width: 1300px) {
 
  .pb-container-left, .pb-container-right, 
  .light-blue-dots svg {
    transform: scale(0.8);
  }

  .pb-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: flex-end;
    margin-left: 50px;
    margin-right: -40px;
  }

  .pb-container {
    margin-top: -6rem;
  }

  .pb-container-right {
    margin-right: 50px;
  }

  .pb-top .light-blue-dots svg {
    margin-left: 50rem;
  }
  .pb-bottom .light-blue-dots svg {
    margin-left: 5rem;
    margin-top: -8rem;
  } 

  .pb-bottom .waves {
    margin-top: -1.5rem;
    margin-bottom: -4rem;
  }

}

@media screen and (max-width: 1200px) {

  .pb-container {
    margin-top: -7rem;
  }
  
  .pb-top .light-blue-dots svg {
    margin-left: 40rem;
  }

  .pb-bottom .light-blue-dots svg {
    margin-left: 2rem;
  } 

}

@media screen and (max-width: 860px) {

  .pb-container {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
  }

  .pb-container-left, .pb-container-right {
    margin: 0;
  }

  .pb-container-right {
    margin: -1.8rem 0;
  }

  .pb-container-right img {
    transform: scale(0.9);
  }

  .pb-top .light-blue-dots svg {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    margin-left: 20rem;
  }

  .pb-bottom .light-blue-dots svg {
    margin-top: -10rem;
    margin-left: 1rem;
  }

  .pb-bottom .waves {
    margin-bottom: -2rem;
  }

}

@media screen and (max-width: 640px) {

  .pb-container-left, .pb-container-right {
    margin: 0;
  }

  .pb-container-left {
    margin-bottom: 3rem;
  }

  .pb-top .light-blue-dots svg {
    margin-top: -0.2rem;
  }

  .pb-container {
    height: 38rem;
    overflow: hidden;
    /* margin-bottom: -4rem; */
  }

  .pb-container-right img {
    transform: scale(0.9);
    margin-bottom: -2.5rem;
  }

  .pb-top .light-blue-dots svg {
    margin-left: 10rem;
  }

  .pb-bottom .light-blue-dots svg {
    margin-left: -6rem;
    margin-top: -7rem;
  }

  .pb-bottom .waves {
    margin-bottom: -4rem;
  }

  .call-to-action h2 {
    font-size: 1.8rem;
  }

}

@media screen and (max-width: 490px) {

  .pb-container {
    margin-top: -4rem;
  }

  .pb-bottom .waves {
    margin-top: 0;
    margin-bottom: -4rem;
  }

}

@media screen and (max-width: 400px) {

  .all-text {
    max-width: 24rem;
  }

  .pb-container-right img {
    transform: scale(0.8);
    margin-bottom: -4rem;
  }

  .pb-container {
    margin-bottom: 0;
  }

  .pb-bottom .light-blue-dots svg {
    margin-left: -6rem;
    margin-top: -6rem;
  }

  .project-layout-container {
    margin-top: -10rem;
  }

  .pb-bottom .waves {
    margin-top: -0.5rem;
  }

}

