@import "../SharedAssets/Styles.css";

.greywaveblock-container {
    position: relative;
    z-index: -10;
}

.greywaveblock .greywaveblock-wave {
    width: 100%;
    height: 100%;
}

.greywaveblock {
    position: relative;
    display: flex;
    margin-top: 0px;
    z-index: -1;
    background-color: var(--light-gray);
    padding-left: 18%;
    padding-right: 22%;
    padding-top: 4.5rem;
}

.greywaveblock img {
    width: 80%;
    max-width: 520px;
    min-width: 450px;
}

.greywaveblock-img {
    padding-left: 0.2rem;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greywaveblock-cta {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greywaveblock-wave {
    position: relative;
    margin-top: -10em;
    z-index: -10;
}

.break {
    display: none;
}

@media screen and (max-width: 1700px) {

    .greywaveblock {
        padding-left: 18%;
        padding-right: 18%;
    }

    .greywaveblock-cta {
        transform: scale(0.9);
    }

    .greywaveblock-wave {
        position: relative;
        margin-top: -6em;
        z-index: -100;
    }

}

@media screen and (max-width: 1450px) {

    .greywaveblock {
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media screen and (max-width: 1300px) {

    .greywaveblock {
        padding-left: 8%;
        padding-right: 8%;
    }

    .greywaveblock-cta {
        transform: scale(0.8);
    }

    .greywaveblock-img {
        padding-left: 1rem;
    }

    .greywaveblock img {
        width: 80%;
        min-width: 400px;
    }

}

@media screen and (max-width: 1100px) {
/*
    .greywaveblock-wave {
        margin-top: -10em;
    }
*/

    .greywaveblock {
        padding-top: 2.5rem;
    }

}

/* 860 */

@media screen and (max-width: 860px) {

    .greywaveblock {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        /*
        position: relative;
        display: flex;
        margin-top: 0px;
        z-index: -1;
        background-color: #CAF0F8;
        padding: 20px;
        */
    }

    .break {
        display: block;
        flex-basis: 100%;
        height: 0;
    }

    .greywaveblock-cta {
        width: 100%;
        padding: 0;
    }

    .greywaveblock-img {
        padding-left: 0;
    }

    .greywaveblock-img img{
        width: 80%;
        max-width: 250px;
        min-width: 160px;
    }

}

@media screen and (max-width: 750px) {

    .greywaveblock {
        height: 490px;
    }

    .greywaveblock-wave {
        margin-top: -1em;
    }

}

@media screen and (max-width: 640px) {

    .greywaveblock {
        height: 450px;
    }

}
