@import "../SharedAssets/Styles.css";

.newsletter {
  /*background-color: white;*/ 
  background: var(--light-gray);
  background-image: url('../../images/background-shapes-desktop.svg');
  height: 380px;
}

.newsletter div img {
  float: right;
  z-index: -1;
  margin-top: -500px;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.newsletter h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: var(--heading-one-desktop);
  font-weight: var(--custom-bold);;
  color: var(--navy-blue);
}

.newsletter h4 {
  color: var(--dark-green);
  font-size: var(--body-one-desktop);
  margin: 0 auto 30px;
}

.newsletter #mc_embed_signup {
  background: transparent;
}

@media screen and (max-width: 1700px) {

  .news-container {
    transform: scale(0.9);
  }

}

@media screen and (max-width: 1300px) {

  .news-container {
    transform: scale(0.8);
  }

}

@media screen and (max-width: 640px){
  .newsletter {
    display: flex;
    justify-content: center;
    background-image: url('../../images/background-shapes-mobile.svg');
  }

  .news-container {
    width: 85%;
    padding-bottom: 100px;
  }

  .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .newsletter #mc_embed_signup {
    width: 100%;
  }

  .news-container #mce-EMAIL {
    max-width: 95%;
  }

  .newsletter .clear {
    display: flex;
    justify-content: center;
  }

  .newsletter h2 {
    font-size: var(--heading-one-mobile);
  }

  .newsletter h4 {
    font-size: var(--body-one-mobile);
  }
}
