@import "../SharedAssets/Styles.css";

.officer-card {
    padding: 15px;
    margin: 30px;
    /*background-color: bisque;*/
}

/* photo cropped to a 1:11 ratio */
#officer-pic {
    width: auto;
    max-width: 200px;
    height: auto;
    margin-bottom: 12px;
    border-radius: 5px;
}

#linkedin-logo {
    max-width: 36px;
    max-height: 36px;
    position: absolute; 
    bottom: 85px; 
    right: 4px;
}

#name, #position, #email {
    padding: 0 3px;
    text-align: center;
    color: var(--navy-blue);
}

#name {
    font-weight: var(--custom-bold);;
    font-size: var(--officer-name);
    margin-bottom: 8px;
}

#position {
    font-style: italic;
    font-size: var(--officer-position);
    font-weight: medium;
    margin-bottom: -2px;
}

#email {
    opacity: 0.8;
    font-size: var(--officer-email);
    margin-top: 5px;
    color: var(--dark-blue);
}
