@import "../SharedAssets/Styles.css";

.officerbanner-container {
    position: relative;
    background-image: url('../../images/background-shapes-desktop.svg');
    /*background-size: 100% 80px;*/
}

.officerbanner-wave {
    margin-top: -5em;
    max-height: 150px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -10;
    /*background-color: aqua;*/
}

.officerbanner h1 {
    color: var(--navy-blue);
    font-size: var(--heading-one-desktop);
    font-weight: var(--custom-bold);;
    /*margin-top: 11%;*/
}

.officerbanner {
    position: relative;
    display: flex;
    /*the height of navbar is constant 70 px so we shift it 70*/
    margin-top: 70px;
    z-index: -1;
    background-color: var(--light-green);
    padding: 20px;
    padding-top: 5rem;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 1500px) {
    .officerbanner-container {
        margin-top: -10em;
    }
    .officerbanner-wave {
        margin-top: -3em;
    }
    /*
    h1 {
        transform: scale(0.9);
    }
    */
}

@media screen and (max-width: 1200px) {
    .officerbanner-container {
        margin-top: -8em;
    }
    .officerbanner-wave {
        margin-top: -1em;
    }
}

@media screen and (max-width: 900px) {
    .officerbanner-container {
        margin-top: -6.5em;
        background-image: url('../../images/background-shapes-mobile.svg');
    }
}

  
@media screen and (min-width : 0px) and (max-width: 640px) {
    .officerbanner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        /*margin-top: -7em;*/
    }
    .officerbanner-container {
        z-index: -10;
        margin-top: -5em;
    }
    .officerbanner h1 {
        font-size: var(--heading-one-mobile);
    }
}
