.contactusbanner-container h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.contactusbanner-container {
    padding: 3.5em;
    height: 100%;
    background-color: #023E8A;
}

.socialmedia-parent {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmedia-parent > a {
    margin: auto 0.85em;  
}

.socialmedia-child img {
    min-width: 42px;
    height: auto;
    width: 100%;
    /*background-color: aqua;*/
}

.socialmedia-child:nth-child(2), 
.socialmedia-child:nth-child(3), 
.socialmedia-child:nth-child(4) {
    margin-top: 2px;
}

@media screen and (max-device-width: 380px) {
    .contactusbanner-container h3 {
        font-size: 1.1em;
        margin: auto 1.7em;
        line-height: 1.5em;
    }
    .socialmedia-parent {
        margin-top: 1em;
        transform: scale(80%);
    }
}
