.nav-bar{
  font-family: 'Poppins';
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.116);  /* x, y, blur */
  overflow: auto;
}

.nav-links{
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 700; 
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 1rem;
}

.nav-links a {
  text-decoration: none;
  color:#023E8A;
}

.nav-links li {
  text-decoration: none;
  color:#023E8A;
  font-size: 20px;
}

.nav-bar img {
  margin-right: 80px;
  width: 105px;
  height: 22px;
} 

/* ------------- media queries ------------- */

@media only screen and (max-width: 1000px) {
  .nav-links{
    width: 65%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-bar img {
    margin-right: 30px;
  } 
}


/* ------------- should probably add a hamburger menu at 920 px ------------- */