.nav-bar{
    font-family: 'Proxima Nova';
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*min-height: 6vh;*/
    height: 70px;
    background: white;
    margin: auto -4vh auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.116);  /* x, y, blur */
  }
  
  .nav-links{
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    /* align-items:flex-end; */
    font-weight: 700; 
    margin: 0;
  }

  .nav-links a {
    text-decoration: none;
    color:#023E8A;
    padding-left: 80px;
  }

  .nav-links li {
    text-decoration: none;
    color:#023E8A;
    font-size: 20px;
  }

  .nav-bar img {
    width: 132px;
    height: 28px;
  } 

  /* ------------- media queries ------------- */

  @media only screen and (max-width: 1350px) {
    
    .nav-links{
      padding-left: 0;
      justify-content: space-around;
    }

    .nav-links li {
      font-size: 20px;
    }

    .nav-bar img {
      width: 105px;
      height: 22px;
    } 

  }

  @media only screen and (max-width: 1200px) {
    
    .nav-links{
      width: 85%;
    }

  
  /* ------------- should probably add a hamburger menu at 990px ------------- */


  }