button.btn-unfill {
  border: 3px solid #023E8A;
  padding: 1.3em 2.5em;
  background: transparent;
}

button.btn-unfill a {
  font-family: 'Proxima Nova';
  text-decoration: none;
  color: #023E8A;
  font-size: 25px;
}